*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (max-width:768px) {
    .hide-in-ads {
        display: none;
        
        }
    }
    .hide-in-ads {
        width: 768px;
        clear: both;
        }