@import 'reset';

.navbar {
    background: #F8E6D1;
    
}

.back {
    background-color: #F8E6D1;
}

#f-remark {
    resize: none;
}

.btn {
    background-color: #E5B581;
}

#footer {
    background: #E5B581;
}